.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #000;
}

.login-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FFA500, #222, #FFA500); 
  background-size: 200% 200%; 
  animation: wave 10s infinite alternate; 
}

.login-box {
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 165, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-header {
  text-align: center;
  color: #000;
}

.login-form {
  margin-top: 20px;
}

.login-input {
  width: calc(100% - 20px);
  margin: 0 auto; 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #777; 
  border-radius: 5px;
  background-color: #333;
  color: #FFA500;
}

.login-input::placeholder {
  color: #FFA500;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: #FFA500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-trail {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFA500; 
  pointer-events: none;
  z-index: 9999; 
}

.login-logo {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.login-logo-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.menu-container {
  text-align: center;
}

.button-list {
  margin-top: 20px;
}

.menu-button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #333;
  color: #FFA500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button {
  margin-top: 20px;
}

.add-button input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #777; 
  border-radius: 5px;
  background-color: #333;
  color: #FFA500;
}

.add-button button {
  padding: 10px 20px;
  background-color: #000;
  color: #FFA500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
